@import './const';

.navigation{
    
    width: 70%;
    height: 100%;
    position: relative;

    &__container-button{
        position: absolute;
        display: flex;
        align-items: center;
        right: 10px;
        height: 100%;
    }

    &__section-background{
        display: none;
        opacity: 0;

        &_active{
            display: flex;
            position: fixed;
            top: 10vh;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: $background__burger;
            opacity: .6;
        }
    }

    &__section-links{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 100%;

        @media (max-width: 320px){
            &{
                display: none;  
            }

            &_active{
                display: flex;
                position: fixed;
                flex-direction: column;
                justify-content: space-around;
                align-items: flex-end;
                top: 10vh;
                width: 30vh;
                height: 90vh;
                right: 0;
                z-index: 1001;
                background: $background__burger;
                opacity: .9;
            }
        }
        
    }
    

    &__link{
        @extend %navigation__link;
        
        &:hover{
            border-bottom: 3px solid $underline-hover__navigation;
            color: $text-hover__navigation;
        }
        @media (max-width: 320px){
            &{
                margin-right: 5px;  
            }
        }
    }
}